NET "sevseg<6>" LOC = "L18";
NET "sevseg<5>" LOC = "F18";
NET "sevseg<4>" LOC = "D17";
NET "sevseg<3>" LOC = "D16";
NET "sevseg<2>" LOC = "G14";
NET "sevseg<1>" LOC = "J17";
NET "sevseg<0>" LOC = "H14";
NET "pb" LOC = "H13";
NET "an<0>" LOC = "F17";
NET "an<1>" LOC = "H17";
NET "an<2>" LOC = "C18";
NET "an<3>" LOC = "F15";
NET "x<0>" LOC = "L13";
NET "x<1>" LOC = "N17";
NET "x<2>" LOC = "R17";
NET "led" LOC = "J14";
NET "open" LOC = "J15";
NET "close" LOC = "J16";
NET "leds<0>" LOC = "E17";
NET "leds<1>" LOC = "P15";
NET "leds<2>" LOC = "F4";
NET "leds<3>" LOC = "R4";
NET "CLOCK" LOC = "B8";
NET "CLOCK" PERIOD = 20.0ns HIGH 50%;